{:kotoba.app/id "cloud.itonami.isic-3700", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigtans4xh7iwieulbgmvz5s6iug5y3eoqr4c3bptwzscjj5kc7hyi", :kotoba.app/embed-url "ipfs://bafkreigtans4xh7iwieulbgmvz5s6iug5y3eoqr4c3bptwzscjj5kc7hyi", :published {:archive "https://kotobase.net/ipfs/bafkreigtans4xh7iwieulbgmvz5s6iug5y3eoqr4c3bptwzscjj5kc7hyi", :size 72096, :put-status 201, :get-status 200, :at "2026-08-15T13:48:14.334Z"}}
